.componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  width: 25vw;
  min-width: 350px;

  height: 400px;
  margin-top: 150px;
  background-color: white;
  border-radius: 20px ;
  -moz-border-radius: 20px ;
  -webkit-border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
}

.first-line {
  display: flex;
  align-items: center;
}

.second-line {
  display: flex;
  align-items: center;
}

.input-and-text {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 40px;
}

h4 {
  color: black;
  font-weight: normal;
  padding: 5px;
}

mat-form-field {
  height: 80px;
  width: 120px;
}

button {
  height: 58px!important;
  width: 120px!important;
}
